@import "tailwindcss";

.active{
    background-color: #172554;
}

html{
    scroll-behavior: smooth;
}

body ,html{
    overflow-x: hidden;
}

.slick-dots li button:before{
    color: white;
}
.slick-dots li.slick-active button:before{
    color: white;
}
.slick-next{
    right: -18px;
}
.slick-prev{
    left: -18px;
}


.slick-slide > div {
  width: 100%;
}

.slick-track {
  display: flex !important;
}